html {
    color:  white;
    font-family: georgia;
}
header,footer {
    background-color: #824555;
    text-align: center;
    padding: 20px;
}
#left,#middle {
    width: 30%; 
    height: 350px;
}
#left {
    background-color: #A26475;
}
#middle {
    background-color: #824555
}
#right {
    background-color:  #A26470;
    width: 40%;
    height: 350px;
    overflow: auto;
}
main {
    display: flex;
}
img {
    width: 50px;
    float: left;
}
table,dl {
    margin: 10px;

}
dl {
    padding-top: 20px;
}
th,td {
    border: 3px solid #824555;
    padding: 5px;
}